.notification {
	border: 1px solid black;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	animation: 1s linear 0s infinite pulse;
}

.notification button {
	width: 40px;
}

@keyframes pulse {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.08);
	}
}

.paused {
	animation-play-state: paused;
	opacity: 0.5;
}
