table {
	width: 100%;
	margin-bottom: 20px;
}

td {
	border: 1px solid black;
}

thead td {
	text-align: center;
}

.name-col {
	width: 30%;
}

.date-col {
	width: 20%;
}

.years-col {
	width: 10%;
}

.gifts-col {
	width: 25%;
}

.actions-col {
	width: 15%;
}
