.notification {
	border: 1px solid black;
	padding: 10px;
	display: flex;
	width: 400px;
	justify-content: space-between;
	align-items: center;
	animation: 1s linear 0s infinite pulse;
	background: white;
}

.notification button {
	width: 40px;
}

@keyframes pulse {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.08);
	}
}

@keyframes fadeOutRight {
	0% {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
}
